extends layout 

block metas 
    title Home de mi sitio con expres.js
    meta(name="description" content="Descripcion de la pagina del home")

block content
    main.container 
        h1 Home de mi sitio 
        nav 
            ul 
                li 
                    a(href="/contacto") Contanco (.html) 
                li 
                    a(href="/git") Git (.md) 
                li 
                    a(href="/nodejs") Node.js (.md) 
                li 
                    a(href="/error") Error (.pug)